<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.book">

    <uses-permission android:name="android.permission.INTERNET"/>

<!--  Glide: Load failed for http://bimage.interpark.com/goods_image/4/7/0/6/346994706h.jpg with size
  실제로 값이 내려오는 경우에 http 통신을 허용해야한다 어쩔 수 없이. 이런 경우에 manifest에 들어와 application 부분에 usesCleartextTraffic을
  true로 두어 평문통신 (http)통신을 허용하면 문제 없이 이미지가 로딩된다.-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Book">
        <activity
            android:name="com.project.book.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>